/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ######### */
/* # Fonts # */
/* ######### */

@font-face {
  font-family: "Gotham Medium";
  src: url(../fonts/Gotham/Gotham-Medium.otf);
}

@font-face {
  font-family: "Gotham Light";
  src: url(../fonts/Gotham/Gotham-Light.otf);
}

@font-face {
  font-family: "Gotham Black";
  src: url(../fonts/Gotham/Gotham-Black.otf);
}

@font-face {
  font-family: "Liberator";
  src: url(../fonts/Liberator/Liberator_Personal_License/Liberator_OTF/Liberator-Heavy.otf);
}

@font-face {
  font-family: "Liberator Medium";
  src: url(../fonts/Liberator/Liberator_Personal_License/Liberator_OTF/Liberator-Medium.otf);
}

@font-face {
  font-family: "Liberator Light";
  src: url(../fonts/Liberator/Liberator_Personal_License/Liberator_OTF/Liberator-Light.otf);
}

/* bootstrap overide to prevent container size change */
.container {
  width: 970px !important;
}

/* ############# */
/* # Utilities # */
/* ############# */
footer ul li {
  font-size: 20px;
  letter-spacing: 4px;
  padding: 20px;
}

.oxford {
  background-color: #002244;
}

.white {
  color: #FFFFFF;
}

.hulk-out {
  margin: 0;
  padding: 0;
  font-family: Liberator;
  line-height: 1.2;
  font-size: 74px !important;
  letter-spacing: 12px;
}

.very-important-word-box {
  padding-top: 125px;
  padding-left: 187px;
}

.primary {
  color: #62BF2A !important;
}

.date {
  width: 340px;
  height: 75px;
}

.m-b {
  margin-bottom: 40px !important;
}

.m-b-lg {
  margin-bottom: 60px !important;
}

.m-b-xlg {
  margin-bottom: 100px !important;
}

.m-t {
  margin-top: 10px !important;
}

.m-r {
  margin-right: 15px;
}

.m-l {
  margin-right: 15px;
}

hr {
  border-top: 1px solid #62BF2A;
  width: 675px;
}

.headline-image {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 700px;
  margin: 0 auto;
}

header.jumbotron {
  background-image:url('../img/lazarisimage.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #EEEEEE;
  height: 640px;
  padding-bottom: 0;
  margin-bottom: 0;
}

section.sub-heading {
  padding-top: 0;
  height: 680px;
  min-width: 840px;
  white-space: nowrap !important;
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* Chrome */
  word-wrap: break-word; /* IE */
}

/* ############## */
/* # Components # */
/* ############## */

.blue-box {
  border: 2px solid #2EACDF;
  width: 300px;
  height: 100px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.blue-box a {
  color: #2EACDF;
  font-size: 23px;
  font-family: Gotham Medium;
}

.blue-box img {
  width: 27px;
  height: 27px;
  margin-top: -27px;
  margin-right: 5px;
  float: right;
}

fieldset.hulk-box {
  padding: 20px;
  width: 370px;
  border: 8px solid #62BF2A;
}

fieldset.hulk-box legend{
  border-bottom: 0;
  padding-left: 4px;
  color: #62BF2A !important;
  font-family: Liberator;
  font-size: 50px;
  line-height: 40px;
  letter-spacing: 6px;
}

fieldset.hulk-box p{
  font-family: Gotham Medium;
  line-height: 40px;
  font-size: 20px;
  margin-top: -20px;
}


/* ###################################### */
/* #  section specific adjustments      # */
/* ###################################### */
section.about .image-area {
  height: 800px;
  width: 460px;
  float: left;
}

section.about img.itchy-chin {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  height: 575px;
  width: 454px;
}

section.about img.zoom {
  position: absolute;
  top: 413px;
  left: 145px;
  bottom:0;
  width: 405px;
  height: 370px;
}

section.about .important-paragraph {
  float: left;
  margin-top: 22px;
  width: 465px;
}

.important-paragraph p{
  font-family: Gotham Medium;
  font-size: 20px !important;
  line-height: 1.4 !important;
}

#dribble-box {
  float: left;
  margin-left: 105px;
  margin-top: 25px;
}

#behance-box {
  float: left;
  margin-left: 105px;
  margin-top: 25px;
}

section.about div.body {
  font-family: Gotham Light;
  float: left;
  margin-left: 105px;
  margin-top: 30px;
  width: 300px;
}

section.about div.body p{
  line-height: 1.5;
}

fieldset.hulk-box a {
  color: #2EACDF;
  font-size: 23px;
}

section.about fieldset.hulk-box {
  margin-top: 20px;
  margin-left: 140px;
}

section.about img[src="img/resume.png"] {
  width: 310px;
  height: 80px;
  margin-right: 72px;
  margin-top: -80px;
}


section.mentor header.jumbotron{
  margin-top: 150px;
  background-image:url('../img/mentorimage.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #EEEEEE;
  height: 640px;
  padding-bottom: 0;
  margin-bottom: 0;
}

section.mentor img[src="img/mentor.png"] {
  width: 800px;
  padding-top: 100px;
  padding-bottom: 50px;
}

section.mentor .important-paragraph {
  width: 684px;
  font-family: Gotham Medium;
  line-height: 24px;
  text-align: center;
  margin-bottom: 40px;
}

section.mentor p.body {
  margin-left: -20px;
  line-height: 1.5;
  font-family: Gotham Medium;
  font-size: 20px;
}

section.speaker header.jumbotron {
  margin-top: 150px;
  background-image:url('../img/speakingimage.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #EEEEEE;
  height: 640px;
  padding-bottom: 0;
  margin-bottom: 0;
}

section.speaker .headline-image {
  width: 900px;
}

section.speaker .important-paragraph {
  text-align: center;
}

section.speaker .resume-line .primary {
  font-size: 20px;
}

section.speaker .resume-card h2{
  font-family: Gotham Black;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: -35px;
}

section.speaker .resume-line .body{
  line-height: 25px;
  margin-top: 40px;
}

section.process header.jumbotron {
  background-image:url('../img/processimage.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #EEEEEE;
  height: 640px;
  padding-bottom: 0;
  margin-bottom: 0;
}

section.process img.start{
  width: 175px;
  padding-left: 20px;
}

section.process img.finish{
  width: 200px;
  padding-left: 10px;
}

section.process .process-card img {
  height: 100px;
}

section.process .process-line-title {
  padding-left: 27px;
  padding-bottom: 20px;
  padding-top: 40px;
}

section.process .process-line-finish {
  padding-top: 20px;
  padding-left: 27px;
}

section.process h1 {
  font-family: Gotham Black;
  margin-top: -43px;
  letter-spacing: 5px;
}

section.process .process-card .body {
  font-family: Gotham Light;
  line-height: 25px;
}

section.process .process-card-row-left {
  margin-top: 50px;
}

section.process .process-card-row-right {
  margin-top: 50px;
}

section.process .green-border-right {
  border-right: 3px solid #62BF2A;
}


section.contact header.jumbotron {
  background-image:url('../img/contactimage.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #EEEEEE;
  height: 640px;
  padding-bottom: 0;
  margin-bottom: 0;
}

section.contact .headline-image {
  width: 900px;
}

section.contact .body {
  font-size: 17px;
  font-family: "Gotham Medium";
  letter-spacing: 1px;
}

section.contact .primary {
  letter-spacing: 2px;
}

section.contact .contact-card li{
  border: 1px solid #62BF2A;
  text-align: center;
  padding: 8px;
}

section.contact .contact-card a{
  font-size: 23px;
  font-family: Liberator Light;
  letter-spacing: 3px;
  color: #002244;
}

